<!DOCTYPE html>

<html>
  <head>
    <title>Date Picker</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./shared.css" />
    <style>
      [unresolved] {
        opacity: 0;
        transition: opacity 0.1s linear;
      }

      .label {
        margin: 0;
        font-size: 1rem;
        font-weight: normal;
        min-width: 150px;
      }

      section {
        display: flex;
        align-items: center;
      }
    </style>
  </head>
  <body unresolved>
    <section>
      <div class="label">Default</div>
      <div>
        <vaadin-date-picker label="Appointment date"></vaadin-date-picker>
      </div>
    </section>

    <section>
      <div class="label">Placeholder</div>
      <div>
        <vaadin-date-picker label="Appointment date" placeholder="01/12/2021"></vaadin-date-picker>
      </div>
    </section>

    <section>
      <div class="label">Clear button</div>
      <div>
        <vaadin-date-picker label="Appointment date" value="01/12/2021" clear-button-visible></vaadin-date-picker>
      </div>
    </section>

    <section>
      <div class="label">Readonly</div>
      <div>
        <vaadin-date-picker label="Appointment date" readonly></vaadin-date-picker>
      </div>
    </section>

    <section>
      <div class="label">Disabled</div>
      <div>
        <vaadin-date-picker label="Appointment date" disabled></vaadin-date-picker>
      </div>
    </section>

    <section>
      <div class="label">Error message</div>
      <div>
        <vaadin-date-picker
          label="Appointment date"
          required
          error-message="This field is required"
        ></vaadin-date-picker>
      </div>
    </section>

    <section>
      <div class="label">Helper text</div>
      <div>
        <vaadin-date-picker label="Appointment date" helper-text="Format: DD/MM/YYYY"></vaadin-date-picker>
      </div>
    </section>

    <script type="module" src="./common.js" onload="document.body.removeAttribute('unresolved')"></script>
  </body>
</html>
