<!DOCTYPE html>

<html>
  <head>
    <title>Select</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./shared.css" />
    <style>
      [unresolved] {
        opacity: 0;
        transition: opacity 0.1s linear;
      }

      .label {
        margin: 0;
        font-size: 1rem;
        font-weight: normal;
        min-width: 150px;
      }

      section {
        display: flex;
        align-items: center;
      }
    </style>
  </head>
  <body unresolved>
    <section>
      <div class="label">Default</div>
      <div>
        <vaadin-select label="Role"></vaadin-select>
      </div>
    </section>

    <section>
      <div class="label">Placeholder</div>
      <div>
        <vaadin-select label="Role" placeholder="Select a role"></vaadin-select>
      </div>
    </section>

    <section>
      <div class="label">Readonly</div>
      <div>
        <vaadin-select label="Role" readonly></vaadin-select>
      </div>
    </section>

    <section>
      <div class="label">Disabled</div>
      <div>
        <vaadin-select label="Role" disabled></vaadin-select>
      </div>
    </section>

    <section>
      <div class="label">Error message</div>
      <div>
        <vaadin-select label="Role" required error-message="This field is required"></vaadin-select>
      </div>
    </section>

    <section>
      <div class="label">Helper text</div>
      <div>
        <vaadin-select label="Role" helper-text="User will have to login"></vaadin-select>
      </div>
    </section>

    <script type="module" src="./common.js" onload="document.body.removeAttribute('unresolved')"></script>

    <script>
      document.querySelectorAll("vaadin-select").forEach((select) => {
        select.renderer = function (root, select) {
          if (root.firstChild) {
            return;
          }

          const listBox = document.createElement("vaadin-list-box");
          // append 3 <vaadin-item> elements
          ["Admin", "Moderator", "User"].forEach(function (name) {
            const item = document.createElement("vaadin-item");
            item.textContent = name;
            item.setAttribute("label", name);
            listBox.appendChild(item);
          });

          root.appendChild(listBox);
        };
      });
    </script>
  </body>
</html>
