<!DOCTYPE html>

<html>
  <head>
    <title>Text Area</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./shared.css" />
    <style>
      [unresolved] {
        opacity: 0;
        transition: opacity 0.1s linear;
      }

      .label {
        margin: 0;
        font-size: 1rem;
        font-weight: normal;
        min-width: 150px;
      }

      section {
        display: flex;
        align-items: center;
      }
    </style>
  </head>
  <body unresolved>
    <section>
      <div class="label">Default</div>
      <div>
        <vaadin-text-area label="Comment"></vaadin-text-area>
      </div>
    </section>

    <section>
      <div class="label">Placeholder</div>
      <div>
        <vaadin-text-area label="Comment" placeholder="Share your feedback"></vaadin-text-area>
      </div>
    </section>

    <section>
      <div class="label">Readonly</div>
      <div>
        <vaadin-text-area label="Comment" readonly></vaadin-text-area>
      </div>
    </section>

    <section>
      <div class="label">Disabled</div>
      <div>
        <vaadin-text-area label="Comment" disabled></vaadin-text-area>
      </div>
    </section>

    <section>
      <div class="label">Error message</div>
      <div>
        <vaadin-text-area label="Comment" required error-message="This field is required"></vaadin-text-area>
      </div>
    </section>

    <section>
      <div class="label">Helper text</div>
      <div>
        <vaadin-text-area label="Comment" helper-text="Help us improve"></vaadin-text-area>
      </div>
    </section>

    <script type="module" src="./common.js" onload="document.body.removeAttribute('unresolved')"></script>
  </body>
</html>
