<!DOCTYPE html>

<html>
  <head>
    <title>Text Field</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./shared.css" />
    <style>
      [unresolved] {
        opacity: 0;
        transition: opacity 0.1s linear;
      }

      h2 {
        margin: 0;
        font-size: 1rem;
        font-weight: normal;
        min-width: 150px;
      }

      section {
        display: flex;
        align-items: center;
      }
    </style>
  </head>
  <body unresolved>
    <section>
      <h2>Default</h2>
      <div>
        <vaadin-text-field label="Address"></vaadin-text-field>
      </div>
    </section>

    <section>
      <h2>Placeholder</h2>
      <div>
        <vaadin-text-field label="Address" placeholder="Ruukinkatu 2"></vaadin-text-field>
      </div>
    </section>

    <section>
      <h2>Clear button</h2>
      <div>
        <vaadin-text-field label="Address" value="Ruukinkatu 2" clear-button-visible></vaadin-text-field>
      </div>
    </section>

    <section>
      <h2>Readonly</h2>
      <div>
        <vaadin-text-field label="Address" readonly></vaadin-text-field>
      </div>
    </section>

    <section>
      <h2>Disabled</h2>
      <div>
        <vaadin-text-field label="Address" disabled></vaadin-text-field>
      </div>
    </section>

    <section>
      <h2>Error message</h2>
      <div>
        <vaadin-text-field label="Address" required error-message="This field is required"></vaadin-text-field>
      </div>
    </section>

    <section>
      <h2>Helper text</h2>
      <div>
        <vaadin-text-field label="Address" helper-text="Your home address"></vaadin-text-field>
      </div>
    </section>

    <script type="module" src="./common.js" onload="document.body.removeAttribute('unresolved')"></script>
  </body>
</html>
